article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

html {
  font-family: $base-font-family;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  @extend %background-color;
}

body {
  font: 100%/1.375 $base-font-family;
  color: #000;
  @extend %background-color;
}

body, h1, h2, h3, p, dl, dt, dd, ul, li, small, figure, figcaption, img, blockquote {
  @extend %reset;
}
html,
body , .wrapper {
  min-height: 100%;
  height: 100%;
}
a {
  background: transparent;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3 {
  font-size: 1em;
  line-height: 1;
}
h2 {
  @extend %pixel;
}
ul {
  list-style: none;
}
svg,
img {
  border: 0;
  max-width: 100%;
  display: block;
}
svg:not(:root) {
    overflow: hidden;
}

pre {
  white-space: pre-wrap;
  text-align: left;
  @extend %monospace;

}
small {
    font-size: 80%;
}
::-moz-selection {
    background: $highlight;
    text-shadow: none;
}

::selection {
    background: $highlight;
    text-shadow: none;
}

/* ===== custom  ===== */


